{% load static %}
{% include 'shop/include/head.html' %}

<div style="margin-left: 20px">
    <div id="export-block" style="margin-top: 20px;">
        <h2>Export product</h2>
        <div id="export-sections-tree"></div>
        <div id="export-brands-tree"></div>
        <a id="excel-export-a"><button type="button" class="btn btn-success" id="excel-export-button">Export to xlsx</button></a>
        <a id="doc-export-a"><button type="button" class="btn btn-success" id="doc-export-button">Export to docx</button></a>
    </div>

    {% if request.user.is_superuser %}
        <div id="import-block" style="margin-top: 50px;">
            <h2>Import product</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'import-xlsx' %}">
                {% csrf_token %}
                <label for="exampleInputFile">Spreadsheet</label>
                <input type="file" name="spreadsheet" class="form-control-file" id="spreadsheet-file" aria-describedby="spreadsheet_file_help" accept=".xlsx">
                <small id="spreadsheet_file_help" class="form-text text-muted">Only xlsx files should be inserted</small>
                <button type="submit" class="btn btn-success disabled" id="excel-import-button" style="pointer-events: none;">Import xlsx</button>
            </form>
        </div>
    {% endif %}
</div>

<script src="{% static 'ShopLabWork/js/tree.min.js' %}"></script>
<!-- Export scripts -->
<script>
    // export
    let sections = {% autoescape off %} {{ sections_for_tree }} {% endautoescape %};
    let brands = {% autoescape off %} {{ brands_for_tree }} {% endautoescape %};

    let sections_tree = new Tree('#export-sections-tree', {
        data: [{ id: '-1', text: 'All product', children: sections }],
        closeDepth: 2,
        loaded: function () {
            this.values = ['-1'];
        }
    });

    let brands_tree = new Tree('#export-brands-tree', {
        data: [{ id: '-1', text: 'All brands', children: brands }],
        closeDepth: 1,
        loaded: function () {
            this.values = ['-1'];
        }
    });

    function get_http_parameters() {
        let result = "";
        if(sections_tree.nodesById['-1'].status === 1){
            result += `categories=[${sections_tree.getValues()}]`
        }
        if(brands_tree.nodesById['-1'].status === 1){
            if(result){
               result += '&'
            }
            result += `brands=[${brands_tree.getValues()}]`
        }
        if(result){
            result = '?' + result
        }
        return result;
    }

    let excel_export_button = document.getElementById('excel-export-button');

    excel_export_button.addEventListener('click', function(){
        console.log(get_http_parameters())
        let excel_export_a = document.getElementById('excel-export-a');
        excel_export_a.href = '/get-products-xlsx' + get_http_parameters();
        excel_export_a.click();
    });

    let doc_export_button = document.getElementById('doc-export-button');

    doc_export_button.addEventListener('click', function(){
        let doc_export_a = document.getElementById('doc-export-a');
        doc_export_a.href = '/get-products-docx' + get_http_parameters();
        doc_export_a.click();
    });

    {% if request.user.is_staff %}
        // import
        function set_excel_import_button_disable(button){
            button.setAttribute("style", "pointer-events: none;")
            button.setAttribute("class", "btn btn-success disabled")
        }

        function set_excel_import_button_enable(button){
            button.setAttribute("style", "pointer-events: auto;")
            button.setAttribute("class", "btn btn-success")
        }

        let spreadsheet_file_input = document.getElementById('spreadsheet-file');

        spreadsheet_file_input.addEventListener('change', (event) => {
            files = event.target.files
            let excel_import_button = document.getElementById('excel-import-button');
            if(files.length > 0){
                file = files[0]
                const file_type = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                if(file.type == file_type){
                    set_excel_import_button_enable(excel_import_button);
                }else{
                    set_excel_import_button_disable(excel_import_button);
                }
            }else{
                set_excel_import_button_disable(excel_import_button);
            }
        });
    {% endif %}
</script>

{% include 'shop/include/footer.html' %}