
{% include 'shop/include/head.html' %}

<div id="registration" style="width: 35%; margin-left: auto; margin-right: auto; margin-top: 50px;">
    <h1>New password</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="token" value="{{ token }}">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg btn-block">RESET PASSWORD</button>
    </form>
</div>

{% include 'shop/include/footer.html' %}